html {
  height: 100%;
}

body {
  background-color: #44535D;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #41DA88;
  font-weight: 700;
}

h1 {
  font-size: 3.5em;
}

a {
  color: #888;
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#icon-links {
  padding: 10px;
  color: #888;
}

.fa {
  padding: 4px;
}

